@import "vendors/fonts";
@import "layout/navbar";
* {
  box-sizing: border-box;
}

#box-logo {
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1200px) {
  #bg-logo {
    margin-right: -200px;
  }
}

@media screen and (max-width: 992px) {
  #bg-logo {
    margin-right: 0px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  #bg-logo {
    margin-right: -50px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 575px) {
  #bg-logo {
    margin-right: -100px;
    margin-top: 80px;
  }
}
