@import "vendors/fonts";
@import "layout/navbar";
@import "layout/slider";
@import "layout/wave";
@import "layout/app";
@import "layout/box-download";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#box-logo {
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #bg-logo {
    margin-right: -200px;
  }
}

@media screen and (max-width: 992px) {
  #bg-logo {
    margin-right: 0px;
    margin-top: 80px;
  }
  .txt-teravel {
    font-size: $font-size-title-bold-phone !important;
  }
  .box-slide-one {
    height: 670px !important;
    .bg-slide-one {
      margin-top: 150px !important;
      width: 500px !important;
    }
    #traveling {
      width: 300px !important;
      top: 220px;
    }
    #brids {
      top: 220px !important;
    }
  }
  .box-text-slide {
    width: 90%;
    margin-top: 0em;
    p {
      font-size: $font-size-text-phone;
    }
  }
  #Reservation {
    top: 170px;
    width: 280px;
  }
  #img-phone {
    top: 50%;
    left: 49.5%;
    transform: translate(-50%, -50%);
  }
  #txt-search-flight {
    font-size: $font-size-text-phone;
  }
}

@media screen and (max-width: 768px) {
  #bg-logo {
    margin-right: -50px;
    margin-top: 80px;
  }
}

@media screen and (max-width: 575px) {
  #bg-logo {
    margin-right: -100px;
    margin-top: 80px;
  }
  .box-slide-one {
    height: 700px !important;
    .bg-slide-one {
      margin-top: 200px !important;
      width: 430px !important;
    }
    #traveling {
      width: 230px !important;
      top: 310px;
    }
    #brids {
      top: 280px !important;
      width: 70px;
      left: 190px;
    }
  }
  #Reservation {
    top: 250px;
    width: 230px;
  }
}
