@import "../themes/theme";
@import "./wave";
@import "../components/buttons";
#layout-dl-wave {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: url("../images/bg-wave.png");
    background-size: 1500px 200px;
  }
  .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
    z-index: 1;
  }
}
@keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}
#box-download {
  z-index: 1;
  border-radius: 30px;
  box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
}
#txt-download-app {
  font-size: $font-size-logo;
  font-family: "shabnam-medium";
  color: $color-primery-green;
  letter-spacing: -1px;
  margin-top: 29px;
}
#txt-login-phone {
  color: black;
  font-size: $font-size-text-phone;
  font-family: "shabnam-light";
  margin-top: 12px;
  text-align: center;
}
#box-login-phone {
  position: relative;
  margin-top: 24px;
  width: 410px;
  height: 50px;
}
#input-number {
  padding-left: 168px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  font-size: $font-size-text-phone;
  color: $color-placeHolder-phone;
  font-family: "shabnam-medium";
  &:focus {
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

#btn-download {
  position: absolute;
  width: 140px;
  height: 50px;
  @extend .button-basic;
  left: 0;
}
#txt-download-two {
  @extend #txt-login-phone;
  margin-top: 48px;
}
.btn-download {
  @extend .button-basic-download;
    margin-right: 30px;
  transform: translateY(25px);
}
#box-icon-download {
  width: 128px;
  position: absolute;
  right: 60px;
}
#txt-dl {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: $font-size-text-web;
  color: #00a680;
  margin-top: 0px;
}
#box-download-phone {
  padding: 30px 0 46px;
  margin-top: 46px;
  border-radius: 15px;
  box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
  background-color: #ffffff;
}
#input-number-phone {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  margin-top: 33px;
  font-size: $font-size-text-phone;
  color: $color-placeHolder-phone;
  font-family: "shabnam-medium";
  padding-left: 16px;
  &:focus {
    outline: none;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
#btn-download-phone {
  width: 140px;
  height: 50px;
  @extend .button-basic;
  margin-top: 20px;
}

.btn-download-phone{
 @extend .button-basic-download;
 margin-top: 30px;
}
#layuot-btn-dl-phone{
  width: 100%;
}