@import "../themes/theme";
@import "../components/buttons";

.navBar {
  height: 80px;
  box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
}

#icon-menu {
  margin-right: $margin-right-hamburger-menu;
}

#icon-search {
  margin-left: $margin-right-hamburger-menu;
}
.text-brand {
  color: $color-primery-green;
  font-size: $font-size-logo;
  font-family: "shabnam-bold";
  margin-right: $margin-right-text-brand;
}

.txtNav {
  font-size: $font-size-nav;
  // margin-right: 4%;
  font-family: "shabnam-light";
  color: $color-text-nav !important;
  cursor: pointer;
  font-weight: 300;
}
.btn {
  height: 40px !important;
  width: 120px !important;
  border-radius: 25px !important;
  @extend .button-basic;
  margin-right: 4%;
}
