@import "../components/buttons";
@import "../themes/theme";

#box-travel{
    background-image: url("../images/022_bg_amadegisafar.svg");
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    background-size: 100% auto;
    background-position: center top;
    margin-top: 50px;
    
}
#title-Travel-readiness{
    color: white;
    size: $font-size-box-title;
    font-family: "shabnam-medium";
}
#txt-Travel-readiness{
    font-family: "shabnam-light";
    color: white;
    text-align: center;
    font-size: $font-size-text-phone;
    margin-top: 29px;
    margin-bottom: 50px;
    
}
#btn-travel{
    width: 160px;
    height: 50px;
    @extend .button-basic;
    transform: translateY(20px);
}