@import "../components/buttons";
@import "../themes/theme";

#box-travel{
    background-image: url("../images/022_bg_amadegisafar.svg");
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    background-size: 2000px 350px;
    background-position: center top;
    margin-top: 50px;
    
}
#title-Travel-readiness{
    color: white;
    size: $font-size-box-title;
    font-family: "shabnam-medium";
}
#txt-Travel-readiness{
    font-family: "shabnam-light";
    color: white;
    text-align: center;
    font-size: $font-size-text-phone;
    margin-top: 29px;
    // margin-bottom: 50px;     
    
}
#btn-travel{
    width: 160px;
    height: 50px;
    @extend .button-basic;
    transform: translateY(20px);
    box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25), 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}