// font size
$font-size-nav: 16px;
$font-size-logo: 24px;
$font-size-title-bold-web: 40px;
$font-size-title-bold-phone: 30px;
$font-size-text-web: 14px;
$font-size-text-phone: 16px;
$font-size-box-title: 24px;
