@font-face {
  font-family: "shabnam-bold";
  src: url("../fonts/Shabnam-Bold-FD.ttf");
}

@font-face {
  font-family: "shabnam-light";
  src: url("../fonts/Shabnam-Light-FD.ttf");
}

@font-face {
  font-family: "shabnam-medium";
  src: url("../fonts/Shabnam-Medium-FD.ttf");
}

@font-face {
  font-family: "shabnam-thin";
  src: url("../fonts/Shabnam-Thin-FD.ttf");
}

.button-basic, .btn, #btn-download, #btn-download-phone, #btn-travel {
  border-radius: 25px !important;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: white !important;
  border: 0;
  font-family: "shabnam-medium";
}

.circle-button {
  margin: 20px 0;
  width: 65px;
  height: 65px;
  padding: 1px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
}

.inside-circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: white;
}

.circle-button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:hover .icon-button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.inside-circle:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:active,
.circle-button:focus {
  -webkit-box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
          box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}

.button-basic-download, .btn-download, .btn-download-phone {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  color: white;
  font-family: "shabnam-bold";
  font-size: 14px;
  border: 0px;
}

.navBar {
  height: 80px;
  -webkit-box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
          box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
}

#icon-menu {
  margin-right: 30px;
}

#icon-search {
  margin-left: 30px;
}

.text-brand {
  color: #007f62;
  font-size: 24px;
  font-family: "shabnam-bold";
  margin-right: 16px;
}

.txtNav {
  font-size: 16px;
  font-family: "shabnam-light";
  color: #333333 !important;
  cursor: pointer;
  font-weight: 300;
}

.btn {
  height: 40px !important;
  width: 120px !important;
  border-radius: 25px !important;
  margin-right: 4%;
}

.box-slide-one {
  position: relative;
  display: block;
  width: 100%;
  height: 600px;
}

.box-slide-one .bg-slide-one {
  position: relative;
  width: 600px;
  top: 130px;
}

.box-slide-one #traveling {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 360px;
}

.box-slide-one #brids {
  position: absolute;
  top: 50px;
  left: 300px;
  width: 100px;
}

.box-text-slide {
  margin-top: 100px;
  width: 40%;
  top: 0;
  right: 0;
}

.box-text-slide .txt-teravel {
  text-align: right;
  color: #007f62;
  font-family: "shabnam-bold";
  font-size: 40px;
}

.box-text-slide hr {
  background-color: #007f62;
  width: 70px;
  height: 3px;
  margin: 10px 0px;
  border-radius: 1.5px;
}

.box-text-slide p {
  color: black;
  text-align: right;
  font-family: "shabnam-light";
  font-size: 14px;
}

#box-carousel li {
  background-color: #ff7043;
}

#Reservation {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 300px;
}

#test {
  position: relative;
  margin-top: 500px;
}

#box-wave {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#box-wave .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url("../images/bg-wave.png");
  background-size: 1500px 200px;
}

#box-wave .wave.wave1 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  bottom: 0;
}

#box-wave .wave.wave2 {
  -webkit-animation: animate2 15s linear infinite;
          animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  bottom: 10px;
}

@-webkit-keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}

@-webkit-keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

#bg-phone {
  position: relative;
  width: 353px;
  top: 0;
  left: 0;
}

#img-phone {
  position: absolute;
  top: 60px;
  right: 45px;
  width: 270px;
}

#box-text {
  margin-top: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#title-search-flight {
  font-size: 30px;
  color: #007f62;
  font-family: "shabnam-medium";
  text-align: right;
}

#txt-search-flight {
  margin-top: 41px;
  font-size: 14px;
  color: black;
  font-family: "shabnam-medium";
  text-align: right;
}

.vl {
  position: absolute;
  z-index: -1;
  border-left: 2px solid;
  -o-border-image: linear-gradient(rgba(57, 235, 196, 0.1), #39ebc4, rgba(57, 235, 196, 0.1)) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(rgba(57, 235, 196, 0.1)), color-stop(#39ebc4), to(rgba(57, 235, 196, 0.1))) 1;
     border-image: linear-gradient(rgba(57, 235, 196, 0.1), #39ebc4, rgba(57, 235, 196, 0.1)) 1;
  height: 100%;
}

.icon-button {
  width: 35px;
}

#button-phone {
  overflow-x: scroll;
}

#box-wave {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#box-wave .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url("../images/bg-wave.png");
  background-size: 1500px 200px;
}

#box-wave .wave.wave1 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  bottom: 0;
}

#box-wave .wave.wave2 {
  -webkit-animation: animate2 15s linear infinite;
          animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  bottom: 10px;
}

@keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

.button-basic, .btn, #btn-download, #btn-download-phone, #btn-travel {
  border-radius: 25px !important;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: white !important;
  border: 0;
  font-family: "shabnam-medium";
}

.circle-button {
  margin: 20px 0;
  width: 65px;
  height: 65px;
  padding: 1px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
}

.inside-circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: white;
}

.circle-button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:hover .icon-button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.inside-circle:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:active,
.circle-button:focus {
  -webkit-box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
          box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}

.button-basic-download, .btn-download, .btn-download-phone {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  color: white;
  font-family: "shabnam-bold";
  font-size: 14px;
  border: 0px;
}

#layout-dl-wave {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

#layout-dl-wave .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url("../images/bg-wave.png");
  background-size: 1500px 200px;
}

#layout-dl-wave .wave.wave1 {
  -webkit-animation: animate 30s linear infinite;
          animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  bottom: 0;
  z-index: 1;
}

@keyframes animate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1500px;
  }
}

#box-download {
  z-index: 1;
  border-radius: 30px;
  -webkit-box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
          box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
}

#txt-download-app {
  font-size: 24px;
  font-family: "shabnam-medium";
  color: #007f62;
  letter-spacing: -1px;
  margin-top: 29px;
}

#txt-login-phone, #txt-download-two {
  color: black;
  font-size: 16px;
  font-family: "shabnam-light";
  margin-top: 12px;
  text-align: center;
}

#box-login-phone {
  position: relative;
  margin-top: 24px;
  width: 410px;
  height: 50px;
}

#input-number {
  padding-left: 168px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  font-size: 16px;
  color: #616161;
  font-family: "shabnam-medium";
}

#input-number:focus {
  outline: none;
}

#input-number::-webkit-outer-spin-button, #input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#btn-download {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 0;
}

#txt-download-two {
  margin-top: 48px;
}

.btn-download {
  margin-right: 30px;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

#box-icon-download {
  width: 128px;
  position: absolute;
  right: 60px;
}

#txt-dl {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: #00a680;
  margin-top: 0px;
}

#box-download-phone {
  padding: 30px 0 46px;
  margin-top: 46px;
  border-radius: 15px;
  -webkit-box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
          box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
  background-color: #ffffff;
}

#input-number-phone {
  width: 290px;
  height: 50px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  margin-top: 33px;
  font-size: 16px;
  color: #616161;
  font-family: "shabnam-medium";
  padding-left: 16px;
}

#input-number-phone:focus {
  outline: none;
}

#input-number-phone::-webkit-outer-spin-button, #input-number-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#btn-download-phone {
  width: 140px;
  height: 50px;
  margin-top: 20px;
}

.btn-download-phone {
  margin-top: 30px;
}

#layuot-btn-dl-phone {
  width: 100%;
}

.button-basic, .btn, #btn-download, #btn-download-phone, #btn-travel {
  border-radius: 25px !important;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: white !important;
  border: 0;
  font-family: "shabnam-medium";
}

.circle-button {
  margin: 20px 0;
  width: 65px;
  height: 65px;
  padding: 1px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
}

.inside-circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: white;
}

.circle-button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:hover .icon-button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.inside-circle:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:active,
.circle-button:focus {
  -webkit-box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
          box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}

.button-basic-download, .btn-download, .btn-download-phone {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  color: white;
  font-family: "shabnam-bold";
  font-size: 14px;
  border: 0px;
}

#box-travel {
  background-image: url("../images/022_bg_amadegisafar.svg");
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  background-size: 2000px 350px;
  background-position: center top;
  margin-top: 50px;
}

#title-Travel-readiness {
  color: white;
  size: 24px;
  font-family: "shabnam-medium";
}

#txt-Travel-readiness {
  font-family: "shabnam-light";
  color: white;
  text-align: center;
  font-size: 16px;
  margin-top: 29px;
}

#btn-travel {
  width: 160px;
  height: 50px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25), 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25), 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}

.button-basic, .btn, #btn-download, #btn-download-phone, #btn-travel {
  border-radius: 25px !important;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: white !important;
  border: 0;
  font-family: "shabnam-medium";
}

.circle-button {
  margin: 20px 0;
  width: 65px;
  height: 65px;
  padding: 1px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
}

.inside-circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: white;
}

.circle-button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:hover .icon-button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.inside-circle:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e35325), to(#ff8a65));
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}

.circle-button:active,
.circle-button:focus {
  -webkit-box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
          box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}

.button-basic-download, .btn-download, .btn-download-phone {
  width: 160px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
          box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00a680), to(#00f4bd));
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  color: white;
  font-family: "shabnam-bold";
  font-size: 14px;
  border: 0px;
}

#box-text {
  margin-top: 100px;
}

#travel-ideas {
  font-size: 24px;
  color: #007f62;
  font-family: "shabnam-medium";
}

#txt-Travel-ideas {
  color: black;
  font-size: 16px;
  font-family: "shabnam-medium";
  text-align: center;
  margin-top: 29px;
}

#box-image-travel {
  margin-top: 58px;
}

.box-image {
  width: 222px;
  height: 157px;
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box-image:hover {
  -webkit-box-shadow: 0px 10px 20px 0 #73a99d;
          box-shadow: 0px 10px 20px 0 #73a99d;
  opacity: 0.5;
}

#txt-email {
  margin-top: 93px;
  font-size: 16px;
  color: black;
  text-align: center;
  font-family: "shabnam-light";
}

#box-email {
  position: relative;
  margin-top: 40px;
  width: 410px;
  height: 50px;
}

#input-email {
  padding-left: 168px;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 20px 0 rgba(0, 88, 67, 0.17);
          box-shadow: 0px 4px 20px 0 rgba(0, 88, 67, 0.17);
  font-size: 16px;
  color: #9e9e9e;
  font-family: "shabnam-medium";
}

#input-email::-webkit-input-placeholder {
  color: #9e9e9e;
}

#input-email:-ms-input-placeholder {
  color: #9e9e9e;
}

#input-email::-ms-input-placeholder {
  color: #9e9e9e;
}

#input-email::placeholder {
  color: #9e9e9e;
}

#input-email:focus {
  outline: none;
}

#input-email::-webkit-outer-spin-button, #input-email::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#box-logo {
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  #bg-logo {
    margin-right: -200px;
  }
}

@media screen and (max-width: 992px) {
  #bg-logo {
    margin-right: 0px;
    margin-top: 80px;
  }
  .txt-teravel {
    font-size: 30px !important;
  }
  .box-slide-one {
    height: 670px !important;
  }
  .box-slide-one .bg-slide-one {
    margin-top: 150px !important;
    width: 500px !important;
  }
  .box-slide-one #traveling {
    width: 300px !important;
    top: 220px;
  }
  .box-slide-one #brids {
    top: 220px !important;
  }
  .box-text-slide {
    width: 90%;
    margin-top: 0em;
  }
  .box-text-slide p {
    font-size: 16px;
  }
  #Reservation {
    top: 170px;
    width: 280px;
  }
  #img-phone {
    top: 50%;
    left: 49.5%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #txt-search-flight {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  #bg-logo {
    margin-right: -50px;
    margin-top: 80px;
  }
  #box-travel {
    background-image: url("../images/023_amadegisafar.jpg");
    -o-object-fit: contain;
       object-fit: contain;
    height: 450px;
    background-size: 100% 100%;
  }
  #btn-travel {
    position: absolute;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    bottom: 30px;
  }
}

@media screen and (max-width: 575px) {
  #bg-logo {
    margin-right: -100px;
    margin-top: 80px;
  }
  .box-slide-one {
    height: 700px !important;
  }
  .box-slide-one .bg-slide-one {
    margin-top: 200px !important;
    width: 430px !important;
  }
  .box-slide-one #traveling {
    width: 230px !important;
    top: 310px;
  }
  .box-slide-one #brids {
    top: 280px !important;
    width: 70px;
    left: 190px;
  }
  #Reservation {
    top: 250px;
    width: 230px;
  }
}
/*# sourceMappingURL=main.css.map */