@import "../themes/theme";

.button-basic {
  border-radius: 25px !important;
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  color: white !important;
  border: 0;
  font-family: "shabnam-medium";
}
.circle-button {
  margin: 20px 0;
  width: 65px;
  height: 65px;
  padding: 1px;
  border-radius: 50%;
  background-image: linear-gradient(to top, #00a680, #00f4bd);
}

.inside-circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: white;
}

.circle-button:hover {
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  .icon-button {
    transition: 0.2s;
    transform: rotate(360deg);
    filter: brightness(0) invert(1);
  }
}

.inside-circle:hover {
  background-image: linear-gradient(to top, #e35325, #ff8a65);
}
.circle-button:active,
.circle-button:focus {
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
}

.button-basic-download{
  width: 160px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: linear-gradient(to top, #00a680, #00f4bd);
  color: white;
  font-family: "shabnam-bold";
  font-size: $font-size-text-web;
  border: 0px;
}
