// colors
$color-primery-green: #007f62;
$color-text-nav: #333333;
$color-placeHolder-phone: #616161;
$color-placeHolder-email: #9e9e9e;

// font size
$font-size-nav: 16px;
$font-size-logo: 24px;
$font-size-title-bold-web: 40px;
$font-size-title-bold-phone: 30px;
$font-size-text-web: 14px;
$font-size-text-phone: 16px;
$font-size-box-title: 24px;

//margin
$margin-right-hamburger-menu: 30px;
$margin-right-text-brand: 16px;
